/* ===== File input ===== */
#fileInput {
    display: block;
    margin: 0 auto 20px auto;
    padding: 70px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 250px;
    cursor: pointer;
}

#fileList {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}