/* ===== File input ===== */
.icon {
    height: 70px;
    margin-right: 3px;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#fileInput {
    display: none;
}

.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 180px;
    border: 2px dashed #ccc;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    /*ease = start slow, speed up in the middle, slow down at the end*/
}

.upload-box:hover {
    border-color: #3b82f6;
    background-color: #eef6ff;
    color: #3b82f6;
    transform: scale(1.03);
    /*cale(1.03) makes the element slightly bigger — like a gentle zoom.*/
}

.upload-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-content p {
    margin: 0;
    font-weight: 600;
}

.upload-content span {
    font-size: 12px;
    color: #999;
}

#fileList {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

/* Container to center the bar */
.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

/* Outer bar frame */
.progress-bar {
    width: 250px;
    height: 12px;
    border: 2px solid #4f93ff;
    border-radius: 20px;
    overflow: hidden;
    /* overflow: hidden; If any part of the child element goes outside this box, hide it (don’t show it).
    .progress-fill - is the child element.
    */
    background: #f5f5f5;
}

/* Inner fill with text */
.progress-fill {
    height: 100%;
    background: linear-gradient(135deg, #3b82f6, #33aaff);
    color: white;
    text-align: center;
    line-height: 10px;
    /* text-align: center; → centers the text horizontally
    line-height: 25px; → centers the text vertically*/
    font-size: 9px;
    border-radius: 20px;
    animation: fillBar 2.5s ease-in-out forwards;
    /*ease-in-out- timing function — starts slow, speeds up, then slows again (looks natural).
    forwards-keeps the final state (width: 101%) even after the animation finishes, 
    if no forwards returns to its original style to width 0%*/
}

/* Animation */
@keyframes fillBar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.progress-bar-opacity {
    opacity: 1;
}